<div class="container-fluid">
  <div class="card mt-5 mb-4">
    <div class="d-flex justify-content-center align-items-center" style="height: 100px;">
      <ul class="d-flex list-style gap-1 ">
        <li class="w-20">red</li>
        <li class="w-20">red</li>
        <li class="w-20">red</li>
      </ul>
    </div>
  </div>

  <div class="card">
    <div class="d-flex flex-column justify-content-center align-items-center gap-3 " style="height: 100px;">
      <div class="w-20" style="background-color: red">
        red
      </div>
      <div class="w-20" style="background-color: red;">
        red
      </div>
      <div class="w-20" style="background-color: red; ">
        red
      </div>
    </div>
  </div>
</div>

<div class="card mt-3">
  <div class="card-body">
    <p class="font p-5 ">
      Fixed and Device-Independent:
      The px unit is an absolute unit. It doesn't change based on the device's root font size or user settings. A px is
      a fixed screen unit that doesn't scale up or down based on device settings, which makes it ideal for elements that
      need exact pixel measurements across devices.
    </p>
  </div>
</div>

<div class="w-25">
  <div class="data_conent">
    <p>
      box sizeing content
      The px unit is an absolute unit. It doesn't change based on the device's root font size or user settings. A px is
      a fixed screen unit that doesn't scale up or down based on device settings, which makes it ideal for elements that
      need exact pixel measurements across devices.
    </p>
  </div>
</div>
<div class="card w-50">
  <p class="p-5">Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla
    facilisi </p>
</div>


<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
  <li [ngbNavItem]="1">
    <button ngbNavLink>One</button>
    <ng-template ngbNavContent>
      <p>
        Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
        master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro
        keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat
        salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
      </p>
    </ng-template>
  </li>
  <li [ngbNavItem]="2">
    <button ngbNavLink>Two</button>
    <ng-template ngbNavContent>
      <p>
        Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko
        farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts
        ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar
        helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson
        8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester
        stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.
      </p>
    </ng-template>
  </li>
  <li [ngbNavItem]="3">
    <button ngbNavLink>Three</button>
    <ng-template ngbNavContent>
      <p>
        Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla facilisi.
        Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu, congue et odio.
        Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices et. Sed diam urna,
        egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus faucibus nisl enim, nec
        tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci varius natoque penatibus et
        magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet ultricies in eget
        neque. Phasellus nec tortor vel tellus pulvinar feugiat.
      </p>
    </ng-template>
  </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>

<ngb-progressbar class="mb-3" type="success" textType="white" [value]="60" [showValue]="true" />

<ngb-timepicker [(ngModel)]="time" />

<span class="a">vamsi</span>
<br><br>
<span class="b">vamsi</span>

<div class="container">
  <!-- Absolute Positioned Element -->
  <div class="absolute-box">
      Absolute Box
  </div>
  <!-- Relative Positioned Element -->
  <div class="relative-box">
      Relative Box
  </div>