<div class="container-fluid">
  <div class="card mt-5 mb-4">
    <div class="d-flex justify-content-center align-items-center" style="height: 100px;">
      <ul class="d-flex list-style gap-1 ">
        <li class="w-20">red</li>
        <li class="w-20">red</li>
        <li class="w-20">red</li>
      </ul>
    </div>
  </div>

  <div class="card">
    <div class="d-flex flex-column justify-content-center align-items-center gap-3 " style="height: 100px;">
      <div class="w-20" style="background-color: red">
        red
      </div>
      <div class="w-20" style="background-color: red;">
        red
      </div>
      <div class="w-20" style="background-color: red; ">
        red
      </div>
    </div>
  </div>
</div>

<div class="card mt-3">
  <div class="card-body">
    <p class="font p-5 ">
      Fixed and Device-Independent:
      The px unit is an absolute unit. It doesn't change based on the device's root font size or user settings. A px is
      a fixed screen unit that doesn't scale up or down based on device settings, which makes it ideal for elements that
      need exact pixel measurements across devices.
    </p>
  </div>
</div>

<div class="w-25">
  <div class="data_conent">
    <p >
     box sizeing content
      The px unit is an absolute unit. It doesn't change based on the device's root font size or user settings. A px is
      a fixed screen unit that doesn't scale up or down based on device settings, which makes it ideal for elements that
      need exact pixel measurements across devices.
    </p>
  </div>
</div>



